// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hidden{ display:none; }
div {
display: inline;
}
.content {
width: 500px;

}
.linkx{
position: absolute;
left: 600px;
}
.show{
position: absolute;
left: 410px
}
.cls{
width:500px;
display: block;

}
.list{
padding: 10px;
}